.groupbuttonsm7{
    margin-right: 5px;
}

.div1-m7>h1{
    color: white
}


.col-left-m7{

    margin-right: 2%;
}
.col-left-m7>img{
    width: 250px;
    height: 300px;
}

.col-right-m7{
    color:white
}



